<div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <form #registerForm="ngForm" class="form-signin" (submit)="register($event)">
          <h2 class="form-signin-heading" align="center">Welcome</h2>
          <hr class="colorgraph">
          
          <label for="inputUsername" class="sr-only">Email address</label>
          <input type="text" name="username" id="inputUsername" [(ngModel)]="regInfo.username" class="form-control" placeholder="Username" required autofocus>
  
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="password" id="inputPassword" [(ngModel)]="regInfo.password" class="form-control" placeholder="Password" required>
          
          <label for="inputFirst" class="sr-only">Firstname</label>
          <input type="text" name="firstname" id="inputFirst" [(ngModel)]="regInfo.fName" class="form-control" placeholder="First Name" required>
          
          <label for="inputLast" class="sr-only">Lastname</label>
          <input type="text" name="lastname" id="inputLast" [(ngModel)]="regInfo.lName" class="form-control" placeholder="Last Name" required>
          
          <label for="inputEmail" class="sr-only">email</label>
					<input type="email" name="email" id="inputEmail" [(ngModel)]="regInfo.email" class="form-control" placeholder="Email" required>
					

          <hr class="colorgraph">
  
            <button class="btn btn-md btn-primary btn-block" type="subnmit" name="Register" value="Register">Register</button>
            <button class="btn btn-md btn-primary btn-block" type="button" name="Back" value="Back" routerLink="">Back</button>
  
  
        </form>
        {{cred}}
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
  
  