<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <form (submit)="login($event)" class="form-signin">
        <h2 class="form-signin-heading" align="center">Welcome</h2>
        <hr class="colorgraph">
        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" name="username" id="inputUsername" [(ngModel)]="profileObj.username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" [(ngModel)]="profileObj.password" class="form-control" placeholder="Password" required>
        <hr class="colorgraph">

          <button class="btn btn-md btn-primary btn-block" type="Submit" name="Login" value="Login" >Sign in</button>
          <button class="btn btn-md btn-primary btn-block" name="Register" value="Register" routerLink="/register">Register</button>


      </form>

    </div>
    <div class="col-3">
    </div>
  </div>
</div>

      {{profileObj.username}}
      {{profileObj.password}}