<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Street Address</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Owner</th>
                <th>Culture</th>
                <th>Reviews</th>
            </tr>
            <td>{{restaurants.streetAddress}}</td>
            <td>{{restaurants.city}}</td>
            <td>{{restaurants.zipCode}}</td>
            <td>{{restaurants.ownerId}}</td>
            <td>{{restaurants.culture}}</td>
            <td *ngFor="let review of restaurants.reviews">{{review.review_id}}</td>
            <!-- <td>{{restaurants.reviews[0].review_id}}</td> -->


            <!-- {{restaurants.reviews[0].review_id | json}} -->
        </thead>
        <tbody id="ers-table-body">
        </tbody>
    </table>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Add Review</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #reviewForm="ngForm">
                    <div class="form-group">
                        <label for="review_id" class="col-form-label">Id: </label>
                        <input type="number" class="form-control" id="review_id"
                        [(ngModel)]="model.review_id" #reviewid="ngModel" name="review_id"
                        pInputText>
                    </div>
                    <div class="form-group">
                        <label for="rating" class="col-form-label">Rating: </label>
                        <input type="number" class="form-control" id="rating"
                        [(ngModel)]="model.rating" #rating="ngModel" name="rating"
                        pInputText>
                    </div>
                    <div class="form-group">
                        <label for="picture" class="col-form-label">Picture: </label>
                        <input type="file" class="form-control" id="picture"
                        [(ngModel)]="model.picture" #picture="ngModel" name="picture"
                        pInputText>
                    </div>
                    <div class="form-group">
                        <label for="comment" class="col-form-label">Comment: </label>
                        <input type="text" class="form-control" id="comment"
                        [(ngModel)]="model.comment" #picture="ngModel" name="comment"
                        pInputText>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)='onSubmit()' data-dismiss="modal" >Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <form (ngSubmit)="onSubmit()" #restForm="ngForm">
    <div>
        <label for="id">Restaurant Id: </label>
        <input id="id" type="number"
               [(ngModel)]="model.id" #idname="ngModel" name="id"
               pInputText>
    </div>
    <button class="btn btn-primary" type="submit" label="GetById">Get</button>
  </form> -->