
table
{
    width: 100%;
    border-collapse: collapse;
}
table, th, td 
{
    border: 1px solid black;
}

.box-shadow {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}

#applyStatus {
    width: 5em;  
    height: 0.5em;
    /* text-align: center; */
    padding-bottom: 2em;
}


.sideBar {
    position: fixed;
    z-index: 1000;
}
.sideBarRight {
    position: fixed;
    z-index: 1000;
}
.sideBar.boxLeft {
    width: 100%;
    float:left;
    padding: 0px 0px 0px 0px;
    /* left:75px; */
    background-color:rgb(255, 251, 0);
    top:15%;
}

.sideBarRight.boxRight {
    width: 100%;
    float:right;
    padding: 0px 0px 0px 0px;
    /* left:75px; */
    background-color:rgb(255, 251, 0);
    top:1%;
}
/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -135px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 160px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    text-align: left;
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenavRight a {
    position: absolute; /* Position them relative to the browser window */
    right: 0px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 40%; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 100%; /* Increase font size */
    color: white; /* White text color */
    text-align: left;
    border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

#mySidenavRight a:hover {
    right: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#request {
    top: 0px;
    background-color: #4CAF50;
}

#mine {
    top: 60px;
    background-color: rgb(128, 0, 28)/* Light Black */
}

#all {
    top: 120px;
    background-color: #2196F3; /* Blue */
}

#pending {
    top: 180px;
    background-color: #f44336; /* Red */
}

#denied {
    top: 240px;
    background-color: #555/* Light Black */
}

#approved {
    top: 300px;
    background-color: #ff00f2/* Light Black */
}
#logout {
    top: 360px;
    background-color: #0029b1/* Light Black */
}

#errChangeOwn {
    /* top: 2px; */
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    background-color: #ff0000/* Light Black */
}

