<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card" style="margin-bottom:30px;" *ngFor="let review of reviews">
  <!--text-center"-->
  <div class="card-header">
    {{user.username}} said:
  </div>
  <div class="card-block">
    <p class="card-title">
      <span *ngFor="let star of [1,2,3,4,5]">
        <span *ngIf="star <= review.rating" class="fa fa-star checked"></span>
        <span *ngIf="star > review.rating" class="fa fa-star"></span>
      </span>
    </p>
    <p class="card-text">{{review.comment}}</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer text-muted">
    About {{review.restName}}
  </div>
</div>



<div *ngFor="let review of reviews">
  {{review | json}}
</div>