<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="main-nav">
  <a class="navbar-brand" href="#" [routerLink]="['']">
    <img src=
    "http://i1240.photobucket.com/albums/gg498/Randy_Thien_Cao/Webp.net-resizeimage%201_zpsqzygrpl3.png" 
    border="0" height="30" width="85">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/profile">Profile
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/restaurants">Restaurants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <!-- <li ngbDropdown class="d-inline-block">
        <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Action - 1</button>
          <button class="dropdown-item">Another Action</button>
          <button class="dropdown-item">Something else is here</button>
        </div>
      </li> -->

    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">LogOut</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search">
    </form> -->
  </div>
</nav>